*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #C4C4C4;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: calc(100% / 3);
  padding: 16px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 12px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
}
